:root {
    --white-color:#fff;
    --border-color: #dbdbdb;
}

* {
    box-sizing: inherit;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    /* 10px = 1 rem */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
}

.adm_container {
    width: 100%;
    height: 1000px;
    display: flex;




}

.col-md-2{
    width: 16%;
    height: 100%;
}

.col-md-8{
    width: 84%;
    height: 100%;
}

.nav_ad {
    background-color: #7878b9;
    padding: 1rem;
}

.nav_ad .nav_ad-info {
    width: 100%;


}
.ad-info-img {
    margin: 0 auto;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;

}
.ad-info-img img {
    object-fit: cover;
    width: 100%;
}

.ad-info-heading {
    text-align: center;

}

.ad-info-heading h4 {
    font-size: 1.8rem;
    margin: 1rem;
    color: var(--white-color);
    font-weight: 550;

}

.ad-info-heading p {
    font-size: 1.4rem;
    color: #d7d0d0;
    margin: 0.8rem;
}

.nav_ad_option {
    width: 100%;
}

.ad_option-list{
    list-style: none;
    padding: 0;
}

.ad_option-item {

    font-size: 1.8rem;
    font-weight: 550;
    line-height: 2.2;
    color: var(--white-color);

    border-radius: 0.6rem;


}
.ad_option-list > li:hover   >p  {
    background-color: #383867;
}


.ad_option-item p {
    width: 100%;
    margin: 0;
    padding: 0.6rem 0;
    border-radius: 0.5rem;
}

.ad_icon {
    font-size: 1.8rem;
    color: var(--white-color);
    padding: 0 0.8rem 0 1rem;

}
.nav_system {
    position: relative;
}
.icon_down {
    font-size: 1.8rem;
    color: var(--white-color);

}

.nav_system-list {
    display: none;
    list-style: none;
    padding-left: 0;
}

.nav_system-list.open_sytem {
    display: block;
}

.info_system-item:hover  {
    background-color: #383867;

}






.info_system-item {
    padding: 0.4rem 0;
    border-radius: 0.5rem;
}


.wrapper{
    width: 100%;
    margin: 0 auto;
}
.page-header {
    margin-top: 0;
}
table tr td:last-child a{
    margin-right: 15px;
}


table {
    border: none;
    border-spacing: 0px;

}

.ad_course >th,
.ad_course-body >td
{
    border: 1px solid #ddd;
    padding: 0;
}
.ad_course-body >td {
    background-color: #f9f9f9;
    line-height: 1.6rem;
    vertical-align: top;
    text-align: center;

}

.ad_course >th {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.ad_course-body {
    display: flex;
}
.ad_course {
    display: flex;
}
.ad_course >th,
.ad_course-body > td ,
.table > tbody > tr > td {

    padding: 0.3rem 0.6rem ;
    width: 13.5rem !important;
    font-size: 1.3rem;
    text-align: left;
    line-height: 2rem;
    height: 4rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;



}


/* .ad_course-body >td:first-child {
   width: 8rem!important;
}
.ad_course-body >td:last-child {
   width: 11.8rem!important;
} */

.page-header {
    margin-bottom: 2rem;

}
.page-header >h2 {
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;


}
.btn-ad {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #4cae4c;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    background-color: #5cb85c;

}

/*.info_system{*/
/*    display: none;*/
/*}*/